@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #010207;
  --secondary-color: #fcfcfc;
  --third-color: #aaaaaa;
  --long-primary-size: 100px;
  --primary-size: 100px;
  --secondary-size: 50px;
  --third-size: 30px;
  --peragraph-size1: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
/* utility class */
.flex {
  display: flex;
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.btn {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px 40px;
  font-size: var(--third-size);
  font-weight: 400;
  border-radius: 32px;
  display: block;
  border: none;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
/* utility class */

/* nav bar  */
.logo {
  flex-basis: 20%;
  max-width: 20%;
}
.logo img {
  max-width: 100%;
}
nav ul {
  flex-basis: 70%;
  max-width: 70%;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  display: block;
  margin: 0px 30px;
  padding: 20px;
  font-size: var(--peragraph-size1);
  color: var(--third-color);
  transition: all 0.3s ease-in;
  cursor: pointer;
}
nav ul li a:hover {
  color: var(--secondary-color);
  transform: translateY(-10px);
}
nav .cart {
  flex-basis: 10%;
  max-width: 10%;
}
nav .cart svg {
  fill: var(--third-color);
  transition: all 0.3s ease-in;
  width: 2rem;
  cursor: pointer;
}
nav .cart svg:hover {
  fill: var(--secondary-color);
  transform: translateY(-10px);
}

/* nav bar  */

/* earth - hero - banner */
header {
  padding: 6rem 0;
}
.earth-banner {
  background-image: url(./images/earth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -62%;
}
.hero-content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.img-text {
  color: var(--secondary-color);
  font-size: var(--primary-size);
  font-weight: 300;
  letter-spacing: 25px;
}
.hero-content img {
  max-width: 95px;
  margin-right: 13px;
  display: inline;
}

/* earth - hero - banner */

/* Grow section  */

.grow-head {
  color: var(--secondary-color);
  text-align: center;
  margin: 0 0 25px 0;
  font-size: var(--secondary-size);
  font-weight: 300;
}
.grow-content {
  padding: 0 0 3rem 0;
}

.c-1-4 {
  flex-basis: 23%;
  flex-direction: column;
  max-width: 23%;
}
.c-1-4 img {
  width: 27%;
  margin: 0 0 15px 0;
  filter: brightness(200%) contrast(200%) saturate(100%) blur(0px)
    hue-rotate(0deg);
}
.c-1-4 h5 {
  color: var(--secondary-color);
  font-size: var(--third-size);
  font-weight: 200;
  margin: 0 0 15px 0;
}
.c-1-4 p {
  font-size: var(--peragraph-size1);
  color: var(--secondary-color);
  margin: 0 0 15px 0;
  text-align: center;
}
/* Grow section  */
/* our - blog & NEWS*/
.top-content {
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-content h4 {
  font-size: var(--third-size);
  font-weight: 300;
  margin: 0 0 1rem 0;
}
.top-content h3 {
  font-size: var(--secondary-size);
  font-weight: 400;
  margin: 0 0 1rem 0;
}
.top-content p {
  font-size: var(--peragraph-size1);
  font-weight: 300;
  padding: 0% 25% 0% 25%;
  text-align: center;
  margin: 0 0 1rem 0;
}

.blogs {
  color: var(--secondary-color);
}
.blog-1-3 {
  flex-basis: 33%;
  max-width: 33%;
  padding: 0 1rem 0 1rem;
}
.blog-img {
  overflow: hidden;
  padding: 1rem 0;
  position: relative;
}
.blog-img img {
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 10/6;
  transition: all 0.3s ease-in;
}
.blog-img img:hover {
  transform: skew(2deg, 0deg);
  opacity: 0.7;
}
.blog-date {
  position: absolute;
  left: 0;
  bottom: 0;
}
.blog-date h5 {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 8px 20px;
  font-size: 20px;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}
.blog-date h5 span {
  font-weight: 500;
}
.blog-date h5:hover {
  background: transparent;
  color: var(--secondary-color);
}
.blog-content {
  padding: 0 0 2rem 1.5rem;
  overflow: hidden;
}
.blog-content h4 {
  font-size: var(--third-size);
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}

.blog-content p {
  margin: 0 0 0.5rem 0;
  font-size: var(--peragraph-size1);
  font-weight: 300;
}
.blog-content a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease-in;
}
.blog-content a:hover {
  color: var(--third-color);
}
.blog-section {
  padding: 0 0 3rem 0;
}
/* our - blog & NEWS*/

/* OUR BLOG PAGE HEADER - SECTION */
.blog-page-container {
  padding: 2rem 0 3rem 0;
}
.blog-page-content {
  flex-basis: 49%;
  max-width: 49%;
  padding: 0 2rem;
  color: var(--secondary-color);
}
.blog-page-img {
  flex-basis: 49%;
  max-width: 49%;
  position: relative;
}
.blog-page-img h6 {
  position: absolute;
  color: var(--secondary-color);
  font-size: var(--peragraph-size1);
  font-weight: 300;
}
.blog-page-img .fst-moment {
  top: 27px;
  left: 148px;
}
.blog-page-img .snd-moment {
  top: 250px;
  left: 131px;
}
.blog-page-img .thrd-moment {
  top: 185px;
  right: 35px;
}
.blog-page-img img {
  max-width: 70%;
}
.blog-page-content h2 {
  font-size: var(--primary-size);
  font-weight: 300;
  margin: 0 0 2rem 0;
}
.blog-page-content p {
  font-size: var(--peragraph-size1);
  margin: 0 0 2rem 0;
}
.blog-page-content h4 {
  color: var(--secondary-color) !important;
  word-spacing: 20px;
  font-size: var(--third-size);
}
.blog-page-content h4 span {
  color: var(--third-color);
  transition: all 0.3s ease;
  cursor: pointer;
}
.blog-page-content h4 span:hover {
  color: var(--secondary-color);
}

/* OUR BLOG PAGE HEADER - SECTION */

/*  signle page content  */

.single-page-content {
  padding: 1rem 2rem;
  color: var(--secondary-color);
}
.single-page-content h1 {
  font-size: var(--primary-size);
  font-weight: 100;
  letter-spacing: 26px;
  margin: 0 0 20px 0;
}
.single-page-content p {
  font-size: var(--peragraph-size1);
  font-weight: 300;
}

/*  signle page content  */

/* footer  */
footer {
  padding: 2rem 0;
}
.footer-content {
  justify-content: center;
  align-items: center;
}
.footer-content .copyright {
}
.footer-content .copyright p {
}
.footer-content .c-2-5 {
  flex-basis: 49%;
  max-width: 49%;
}
.footer-content .c-2-5 img {
}
.footer-content .c-2-5 p {
  font-size: var(--peragraph-size1);
}
.footer-content .c-2-5 ul {
  justify-content: flex-start;
  margin: 23px 0px;
  align-items: center;
  list-style: none;
}
.footer-content .c-2-5 li {
  margin: 0 9px 0 0;
}
.footer-content .c-2-5 li a {
  background-color: var(--secondary-color);
  padding: 10px 10px;
  text-decoration: none;
  display: flex;
  border-radius: 100%;
}
.footer-content .c-2-5 li a svg {
  width: 20px;
  fill: var(--primary-color);
}
.footer-content .c-1-5 {
  flex-basis: 19%;
  padding: 0 2rem;
  max-width: 19%;
}
.footer-content .c-1-5 h4 {
  font-size: var(--third-size);
  font-weight: 400;
  margin: 0 0 20px;
}
.footer-content .c-1-5 ul {
  flex-direction: column;
  list-style: none;
}
.footer-content .c-1-5 ul li {
}
.footer-content .c-1-5 ul li a {
  text-decoration: none;
  display: block;
  color: var(--secondary-color);
  font-size: var(--peragraph-size1);
  font-weight: 400;
  margin: 10px 0;
}

.c-5-5 {
  flex-basis: 29%;
  max-width: 29%;
}
.c-5-5 h4 {
  font-size: var(--third-size);
  margin: 0 0 20px 0;
}

.c-5-5 ul {
  flex-direction: column;
}
.c-5-5 ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 20px;
}
.c-5-5 ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: flex-start;
  color: var(--secondary-color);
}
.c-5-5 ul li a p {
  display: inline;
  font-size: var(--peragraph-size1);
  margin: 0 0 0 10px;
}
.c-5-5 ul li a svg {
  fill: var(--secondary-color);
  width: 17px;
  margin: 5px 0 0 0;
}

.copyright {
  padding: 1rem 0;
}

.copyright p {
  font-size: var(--peragraph-size1);
  text-align: center;
  font-weight: 300;
}
