@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #010207;
  --secondary-color: #fcfcfc;
  --third-color: #aaaaaa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  background-color: var(--primary-color);
}
/* utility class */
.flex {
  display: flex;
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* utility class */

/* nav bar  */
.logo {
  flex-basis: 20%;
  max-width: 20%;
}
.logo img {
  max-width: 100%;
}
nav ul {
  flex-basis: 70%;
  max-width: 70%;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  display: block;
  margin: 0px 30px;
  padding: 20px;
  font-size: 20px;
  color: var(--third-color);
  transition: all 0.3s ease-in;
  cursor: pointer;
}
nav ul li a:hover {
  color: var(--secondary-color);
  transform: translateY(-10px);
}
nav .cart {
  flex-basis: 10%;
  max-width: 10%;
}
nav .cart svg {
  fill: var(--third-color);
  transition: all 0.3s ease-in;
  width: 2rem;
  cursor: pointer;
}
nav .cart svg:hover {
  fill: var(--secondary-color);
  transform: translateY(-10px);
}

/* nav bar  */
